body,html {
    width: 100%;
    height: 100%;
}
@font-face {
font-family: 'fontello';
 src: url('../font/fontello.eot');
 src: url('../font/fontello.eot') format('embedded-opentype'),
      url('../font/fontello.woff') format('woff'),
      url('../font/fontello.ttf') format('truetype'),
      url('../font/fontello.svg') format('svg');
font-weight: normal;
font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Times New Roman",sans-serif;
    font-size: 16px;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
*{
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
::-webkit-input-placeholder {color:#333; font-size: 14px;}
::-moz-placeholder          {color:#333; font-size: 14px;}
:-moz-placeholder           {color:#333; font-size: 14px;}
:-ms-input-placeholder      {color:#333; font-size: 14px;}
.wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
header {
    position: relative;
    box-shadow: 0 1px 2px #333;
    margin-bottom: 40px;
}
header .wrap {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
}
.bg-image{
    height: 50vh;
    background: url("../img/bg-image.jpg")no-repeat 50% 50%;
    background-size: cover;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 55px;
    text-align: center;
    text-shadow: 0 2px 2px #000;
    z-index: 2;
}
.title span {
    color: #ee7729;
    display: block;
    font-size: 35px;
}
.anchor {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #000;
    text-decoration: none;
    animation: border-color 1.5s infinite linear;
}
.anchor:before {
    content: '';
    background: url("../img/arrow-b.png")no-repeat;
    width: 14px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -7px;
    animation: arrowUpDown 1s infinite linear;
}
@keyframes border-color {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: #ee7729;
  }
  75% {
    border-color: #ee7729;
  }
}
@keyframes arrowUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
      transform: translateY(-7px);
  }
  75% {
    transform: translateY(7px);
  }
}
.logo-header a{
    display: inline-block;
    width: 40%;
}
.logo-header span {
    align-self: center;
}
.logo-header a img{
    max-width: 100%;
    height: auto;
}
.hamburger {
    display: none;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    width: 40px;
    height: 3px;
    background: #fff;
    margin-bottom: 8px;
}
.hamburger span:last-child {
    margin-bottom: 0;
}
.header-menu {
    align-self: center;
}
.header-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.header-menu ul li {
    display: inline-block;
    font-size: 16px;
    margin-right: 50px;
    padding: 5px 0;
    position: relative;
}
.header-menu ul li:last-child {
    margin-right: 0;
}
.header-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .3s ease;
    position: relative;
    text-shadow: 0 2px 4px #333;
}
.header-menu ul li a:hover {
    color: #ee7729;
    box-shadow: 0 1px 0 #ee7729;
}
.header-menu ul li > ul {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    padding: 5px 10px;
    background: rgba(238,119,41,.20);
}
.header-menu ul li > ul:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-top: -40px;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent rgba(238,119,41,.20) transparent;
}
.header-menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 45px;
}
.header-menu ul li > ul li{
    display: block;
    margin-right: 0;
}
.header-menu ul li {
    position: relative;
}
.header-menu ul li .login {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.header-menu ul li:hover .login {
    top: 30px;
    opacity: 1;
    visibility: visible;
}
.reg-page form {
    text-align: center;
}
form .reg {
    margin-top: 50px;
}
form .reg > div {
    margin-bottom: 15px;
}
form .reg > div input {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    border: 2px solid #333;
    height: 50px;
    padding: 0 5px;
    transition: all .3s ease;
}
form .reg > div input:active,
form .reg > div input:focus {
    outline: none;
    transform: scale(1.1);
}
.header-menu ul li .login form {
    background: #ee7729;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #333;
}
.header-menu ul li .login .email,
.header-menu ul li .login .password {
    margin-bottom: 10px;
}
.header-menu ul li .login .email input,
.header-menu ul li .login .password input {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    border: 2px solid #333;
    height: 25px;
    padding: 0 5px;
    transition: all .3s ease;
}
.header-menu ul li .login .log-in,
.header-menu ul li .login .register {
    display: inline-block;
}
.header-menu ul li .login .log-in {
    margin-bottom: 5px;
}
.log-in #btn-login {
    border: 1px solid #fff;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 2px;
    transition: all .3s ease;
}
.log-in #btn-login:hover {
    background: #fff;
    border-color: #ee7729;
    color: #ee7729;
}
.login .register a {
    display: block;
    color: #fff;
    font-size: 16px;
}
.login .register a:hover {
    color: #333;
}
.block-description {
    padding: 50px 0;
}
.sub-title {
    color: #ee7729;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin: 0 0 35px;
}
.sub-title:before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 70px;
    height: 2px;
    background: #ee7729;
    left: 50%;
    margin-left: -35px;
}
.sub-title:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ee7729;
}
.block-description p {
    line-height: 23px;
}
.block-content {
    padding: 20px 0 30px;
    text-align: center;
    background: #ee7729;
    margin-bottom: 50px;
}
.block-content .wrap {
    font-size: 0;
}
.block-form .sub-title,
.block-content .sub-title {
    color: #fff;
}
.block-form .sub-title:after,
.block-content .sub-title:after {
    background: #ee7729;
    border: 1px solid #fff;
}
.block-form .sub-title:before,
.block-content .sub-title:before {
    background: #fff;
}
.block-content .box {
    display: inline-block;
    width: 339px;
    font-size: 16px;
    margin-right: 25px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 5px -1px #000;
    margin-bottom: 20px;
}
.box:last-child {
    margin-right: 0;
}
.box:hover .image a{
    transform: scale(1.1);
}
.box .image a {
    display: block;
    background: url("../img/corgi-1.jpg")no-repeat 50% 0;
    padding: 40% 0;
    background-size: cover;
    transition: all .3s ease;
}
.box:nth-child(2) .image a{
    background-image:  url("../img/corgi-2.jpg");
}
.box:last-child .image a{
    background-image:  url("../img/corgi-3.jpg");
}
.box .description {
    position: absolute;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    padding: 10px 10px;
    color: #fff;
    background: rgba(51, 51, 51,.8);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
    transform: translateY(100px);
    text-align: left;
}
.box .description p {
    margin: 0;
}
.box .description p span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ee7729;
}
.box:hover .description {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.blog-item {
    text-align: left;
    padding: 25px 0;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(238, 119, 41,.3);
}
.blog-item:last-child {
    border-bottom: none;
}
.block-blog {
  text-align: center;
}
.blog-item:after,
.block-blog:after,
.blog-item:before,
.block-blog:before {
    content: '';
    display: block;
    clear: both;
}
.blog-item .left-group .thumb-blog{
    float: left;
    width: 268px;
    margin-right: 25px;
    border-radius: 2px;
    box-shadow: 0 4px 8px #333;
    line-height: 0;
}
.blog-item .left-group a {
    text-decoration: none;
}
.blog-item .left-group .blog-title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    color: #333;
    transition: all .3s ease;
}
.left-group a:hover .blog-title {
    color: #ee7729;
}
.blog-item .right-group {
    overflow: hidden;
    padding: 10px 0;
}
.blog-item .right-group .blog-date {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #ee7729;
    margin-bottom: 10px;
}
.blog-item .right-group p {
    margin: 0;
    line-height: 23px;
}
.block-form {
    background: #ee7729;
    text-align: center;
    padding: 25px 0;
    position: relative;
}
.block-form p {
    color: #333;
    font-size: 20px;
}
form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}
form > div {
    margin-bottom: 10px;
}
label{
    display: block;
    color: #333;
    margin-bottom: 5px;
}
textarea,
input {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    border: 2px solid #333;
    height: 50px;
    padding: 0 5px;
    transition: all .3s ease;
}
textarea {
    height: 300px;
    padding-top: 10px;
    font-size: 16px;
}
input:active,
input:focus {
    outline: none;
    transform: scale(1.12);
}
.submit {
    text-align: left;
}
.submit button {
    background: transparent;
    border: 2px solid #333;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    padding: 10px 50px;
}
.submit button:focus {
    outline: none;
}
.submit button:hover {
    background: #000000;
}
.submit button:hover {
    border-color: #000;
    color: #fff;
}
main {
    flex: 1 0 auto;
}
footer {
    background: #333;
}
.block-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo-footer a{
    display: block;
    width: 40%;
    filter: grayscale();
    transition: all .3s ease;
}
.logo-footer a:hover {
    filter: none;
}
.contact {
    align-self: center;
}
.contact a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}
.contact a:hover {
    color: #ee7729;
}
.copyright {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.blog {
  display: flex;
  flex-direction: column;
}
.reg-page header,
.blog header {
  background: rgba(238,119,41,.7);
  box-shadow: 0 0 10px #333;
}
.reg-page header .wrap,
.blog header .wrap{
  position: relative;
}
.reg-page header .wrap .header-menu li a:hover,
.blog header .wrap .header-menu li a:hover {
  color: #333;
}
.btn-blog {
  display: inline-block;
  width: 200px;
  padding: 15px 0;
  background: #ee7729;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  transition: all .3s ease;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.btn-blog:hover {
  background: #333
}
.blog .block-blog {
  margin-top: 50px;
}
.inner-blog::before,
.inner-blog::after {
  content: '';
  display: table;
  clear: both;
}
.inner-blog {
  margin: 20px 0;
}
.inner-blog .image-blog{
  width: 300px;
  height: auto;
  float: left;
  margin: 0 20px 0 0;
}
.inner-blog .blog-content h2{
  overflow: hidden;
  text-align: left;
  margin: 0 0 10px;
}
.inner-blog .blog-content p {
  line-height: 1.5;
}
@media (max-width: 832px) {
    .hamburger {
        display: inline-block;
    }
    .header-menu > ul{
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background: #ee7729;
        text-align: center;
        padding: 20px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
    }
    .header-menu ul li {
        display: block;
        margin-right: 0;
    }
    .header-menu ul li:hover > ul {
        top: 0;
    }
    .header-menu ul li a {
        display: block;
        text-transform: uppercase;
        padding: 20px 0;
        border-bottom: 2px solid #333;
    }
    .header-menu ul li a:hover {
        color: #333;
    }
    .header-menu ul li > ul {
        padding: 0;
        position: relative;
        opacity: 1;
        visibility: visible;
        background: none;
    }
    .header-menu ul li > ul li:last-child {
        margin-bottom: 0;
    }
    .header-menu ul li > ul:before {
        content: none;
    }
    .header-menu.open > ul {
        top: 100px;
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 723px) {
    .block-content .box {

        margin-right: 0;
    }
    .box .description {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .blog-item .left-group {
        text-align: center;
    }
    .blog-item .left-group .thumb-blog {
        float: none;
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 425px) {
    .block-content .box {
        width: 100%;
    }
}
#modalwindow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    width: 100%;
    min-height: 100%;
    display: flex;
}
#modalwindow.opened {
    visibility: visible;
    opacity: 1;
}
#modalwindow:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}
#modalwindow h3{
    color: #ee7729;
    padding-top: 15px;
}
#modalwindow h3:before {
    background: #ee7729;
}
#modalwindow h3:after {
    border: 1px solid #ee7729;
    background: #fff;
}
#modalwindow #description {
    width: 320px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 #333;
    background: #fff;
    margin: auto;
    z-index: 999;
    position: relative;
}
#modalwindow #subscribe .first-name,
#modalwindow #subscribe .last-name {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
#modalwindow #subscribe .last-name {
    color: #ee7729;
    padding-left: 5px;
}
#modalwindow #btn-close {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    background: #ee7729;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
}
#modalwindow #btn-close:hover {
    box-shadow: 0 0 0 1px #ee7729;
    background: transparent;
    color: #ee7729;
}
.btn-reg {
    cursor: pointer;
    border: none;
}
.author {
    font-size: 18px;
    display: block;
    color: #ee7729;
    text-transform: capitalize;
}
.author b {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.favorite, .delete,.edit {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.favorite:before,
.delete:before,
.edit:before {
    content: '\e802';
    font-size: 30px;
    color: #333;
    font-family: "fontello",sans-serif;
    transition: all .3s ease;
}
.favorite.active:before {
    color: #ee7729;
}
.delete:before {
    content: '\e801';
    font-size: 25px;
}
.favorite:before {
    content: '\e800';
    font-size: 25px;
}
.favorite:hover::before,
.delete:hover::before,
.edit:hover::before {
    color: #ee7729;
}
.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.blog-item .left-group {
    position: relative;
}
.blog-item .left-group .comment-count {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 50px;
    height: 25px;
    background: #ee7729;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.blog-item .left-group .comment-count:before {
    content: '\e803';
    font-family: "fontello",sans-serif;
    margin-right: 10px;
}
input[type="file"] {
    display: none;
}
label[for="id_image"] {
    display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: #333;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border: 1px solid #ee7729;
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
}
label[for="id_image"]:hover {
    background: #ee7729;
    color: #fff;
}
.block-comments,
.add-comment {
    clear: both;
}
.add-comment label[for="id_body"] {
    display: none;
}
.add-comment textarea {
    height: 100px;
}
.add-comment form {
    margin: 0;
}
.block-comments {
    max-width: 500px;
}
.block-comments .author {
    margin-bottom: 5px;
}
.block-comments .comment {
    font-size: 18px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 2px;
    box-shadow: 0 1px 2px #333;
}
.comments {
    margin-bottom: 10px;
}
.comments:last-child {
    margin-bottom: 0;
}
.clearfix {
    margin-bottom: 20px;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.register-page .password #id_password {
    margin-bottom: 10px;
}
.register-page .submit button {
    padding: 10px 0;
}
.login .log > div {
    margin-bottom: 10px;
}
.title-com {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    text-transform: capitalize;

}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.left-sidebar {
    width: 30%;
    background: #eeeeee;
    border-radius: 5px;
    padding: 15px 20px;
}
.form-profile {
    width: 65%;
}
.form-profile form {
    max-width: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    text-transform: capitalize;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul > li {
    margin-bottom: 5px;
}
.left-sidebar ul li {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease;
}
.left-sidebar ul li:hover,
.left-sidebar ul li:focus {
    color: #ee7729;
}
.left-sidebar ul li.active {
    color: #ee7729;
}
.left-sidebar ul li .second-level li {
    font-weight: normal;
    font-size: 16px;
    position: relative;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
.left-sidebar ul li .second-level li a {
    text-transform: lowercase;
    color: #000;
    font-weight: 500;

}
.left-sidebar ul li .second-level li a:hover {
    color: #ee7729;
}
.left-sidebar ul li .second-level li:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ee7729;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.5px;
}
.left-sidebar ul li .second-level {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}
.left-sidebar ul li.active .second-level {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
}