{% extends 'blogs/base.html' %}
{% block content %}
<div class="block-blog">
    <h2 class="sub-title">Our Blog</h2>
    <div class="wrap">
        {% for post in posts %}
        <div class="blog-item">
            <div class="left-group">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <span class="thumb-blog"><img src="{{ post.image.url }}" alt="{{ post.title }}"></span>
                    <span class="blog-title">{{post.title}}</span>
                    <span>{{ post.comments.count }}</span>
                </a>
            </div>
            <div class="right-group">
                {% if post.published_date %}
                <span class="blog-date">{{ post.published_date }}</span>
                {% endif %}
                <span class="author">{{ post.author }}</span>
                <p>{{post.text}}</p>
            {% if request.user == post.author %}
                <a href="{% url 'post_edit' pk=post.pk %}">Редактировать</a>
                <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'post_new' %}" class="btn-blog" target="_blank">Добавить запись</a>
</div>
{% endblock content %}