{% extends 'blogs/base.html' %}
{% block content %}
  <div class="inner-blog">
    <div class="wrap">
      <div class="image-blog">
        <img src="../../static/img/corgi-3.jpg" alt="">
      </div>
      <div class="blog-content">
        <h2 class="sub-title">{{ post.title }}</h2>
          {% if post.published_date %}
        <span class="blog-date">{{ post.published_date }}</span>
          {% endif %}
        <p>{{ post.text }}</p>
      </div>
      <div class="block-comments">
        {% for comment in comments %}
        <div class="comment">
          {{ comment.body }}
        </div>
        {% endfor %}
      </div>
      <form action="{% url 'comment_create' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
      </form>
    </div>
  </div>
{% endblock content %}