{% extends 'blogs/base.html' %}
{% block content %}
  <div class="inner-blog">
    <div class="wrap">
    <div class="blog-{{ post.pk }} clearfix">
      <div class="image-blog">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
      </div>
      <div class="blog-content">
        <h2 class="sub-title">{{ post.title }}</h2>
          {% if post.published_date %}
        <span class="blog-date">{{ post.published_date }}</span>
          {% endif %}
        <p>{{ post.text }}</p>
      </div>
    </div>
    <h3 class="title-com">Комментарии:</h3>
      <div class="block-comments">
      {% for comment in comments %}
        <div class="comments">
            <div class="author">{{ comment.author }}:</div>
            <div class="comment"> {{ comment.body }} </div>
        </div>
      {% endfor %}
      </div>
    <div class="add-comment">
      <form action="{% url 'comment_create' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
          <div class="submit">
              <button type="submit">Отправить</button>
          </div>
      </form>
    </div>
    </div>
  </div>
{% endblock content %}