{% extends 'blogs/base.html' %}
{% block content %}
    <div class="wrap">
    {{ user.username }}
    <div class="left-sidebar">
        <ul>
            <li><a href="">Опубликованные</a></li>
            <li><a href="">Ожидают публикации</a></li>
        </ul>
    </div>
        {% for post in posts %}
            {% if post.status == 'publish' %}
            <div class="blog-item">
                <div class="left-group">
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        <span class="thumb-blog"><img src="{{ post.image.url }}" alt="{{ post.title }}"></span>
                        <span class="blog-title">{{post.title}}</span>
                    </a>
                    <span class="comment-count">{{ post.comments.count }}</span>
                </div>
                <div class="right-group">
                    {% if post.published_date %}
                        <span class="blog-date">{{ post.published_date }}</span>
                    {% endif %}
                    <div class="info-item">
                        <span class="author">Автор: <b>{{ post.author }}</b></span>
                        <div class="user-set">
                            {% if request.user == post.author %}
                                <a href="{% url 'post_edit' pk=post.pk %}" class="edit" title="Редактировать"></a>
                                <a href="{% url 'post_delete' pk=post.pk %}" class="delete" title="Удалить"></a>
                            {% endif %}
                        </div>
                     </div>
                    <p>{{post.text}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}